{% extends 'base.html' %}

{% block title %}Criar Transação{% endblock %}

{% block content %}
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h5>Criar Transação</h5>
					</div>
					<form method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-4">
								<label for="valor">Valor</label>
								<input type="text" id="valor" name="valor" class="form-control form-control-alternative" placeholder="Valor" required>
							</div>
							
							<div class="col-md-4">
								<label for="tipo">Tipo</label>
								<select id="tipo" name="tipo" class="form-control" required>
									<option value="">---Selecione uma opção---</option>
									<option value="green">Green</option>
									<option value="red">Red</option>
									<option value="aporte">Aporte</option>
									<option value="retirada">Retirada</option>
								</select><br>
							</div>
							<div class="col-md-4">
								<label for="data_transacao">Data</label>
								<input type="date" id="data_transacao" name="data_transacao" class="form-control form-control-alternative" required>
							</div>
						</div>
						<div id="green-fields" style="display:none;">
							<div class="row">
								<div class="col-md-6">
									<label for="odd">Odd:</label>
									<input type="text" id="odd" class="form-control form-control-alternative" name="odd"><br>
								</div>
								<div class="col-md-6">
									<label for="total">Total:</label>
									<input type="text" id="total" class="form-control form-control-alternative" name="total"><br>
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-success col-md-12">Registar</button>
					</form>

					{% if error %}
						<p style="color: red;">{{ error }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<script>
		const tipoSelect = document.getElementById('tipo');
		const greenFields = document.getElementById('green-fields');

		tipoSelect.addEventListener('change', function() {
			if (this.value === 'green') {
				greenFields.style.display = 'block';
			} else {
				greenFields.style.display = 'none';
			}
		});
	</script>
{% endblock %}
